.dribble{
  margin-block: 120px;

  @include tablet {
    margin-block: 80px;
  }

  .dribble__content{
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;

    .dribble__title{
      margin-bottom: 24px;
    }
    .dribble__description{
      font-size: 18px;
      max-width: 636px;
      margin-bottom: 40px;
    }
    .dribble__link{
      display: inline-block;
      position: relative;
      padding-bottom: 4px;
      text-decoration: none;
      width: fit-content;
    }
    .dribble__link::before{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--light-grey);
    }

  }

  .dribble__media{

    .dribble__image{
      height: 100%;
    }
  }
}