.header{
  position: sticky;
  top: 0;
  background-color: var(--black);
  z-index: 2;

  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
  }

  .header__nav{
    @include mobile {
      display: none;
    }
  }
  &__nav-list{
    display: flex;
    justify-content: space-between;
    gap: 48px;
  }

  &__burger{
    display: none;

    .header__burger-button{
      width: 24px;
      height: 24px;
      background-color: transparent;
      border: none;

      .header__burger-icon{

      }

    }

    @include mobile {
      display: flex;
    }
  }
}