.presentation{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 80px;

  @include mobile{
    padding-block: 0;
    flex-direction: column;
  }

  .presentation__image{
    position: relative;
    transform: translateX(44px);

    @include mobile{
      max-width: 100%;
      transform: translateX(0px);
      z-index: 1;
    }

    .presentation__img{
      max-width: 750px;

      @include tablet {
        max-width: 385px;
      }

      @include mobile{
        max-width: 100%;
      }
    }

  }
  .presentation__text{
    display: flex;
    flex-direction: column;
    position: relative;
    transform: translateX(-44px);
    max-width: 738px;
    flex-wrap: wrap;

    @include mobile{
      transform: translateX(0px);
      padding-inline: 20px;
      padding-block: 48px;
    }

      .presentation__title{
        font-size: 78px;
        margin-bottom: 32px;

        @include tablet {
          font-size: 56px;
        }

        @include mobile {
          font-size: 32px;
          margin-bottom: 16px;
        }

        .presentation__highlight{
          color: rgba(255, 255, 255, 0.5)
        }
      }

    .presentation__description{
      font-size: 18px;
    }
  }

}