.skillsets{
  padding-block: 120px;

  @include tablet {
    padding-block: 80px;
  }

  .skillsets__content{
    grid-column: span 4;

    @include tablet {
      grid-column: span 12;
      margin-bottom: 48px;
    }

    .skillsets__title{
      margin-bottom: 24px;
    }
    .skillsets__description{
      font-size: 18px;
    }

  }

  .skillsets__skills{
    grid-column: span 8;
    column-gap: 24px;
    row-gap: 48px;

    @include tablet {
      grid-column: span 12;
    }

    .skillsets__block{
      grid-column: span 6;

      .skillsets__icon{
        margin-bottom: 24px;
      }
      .skillsets__subtitle{
        font-size: 24px;
        margin-bottom: 12px;
      }
      .skillsets__skill-description{

      }


    }
  }
}