.swiper{
  margin-bottom: 120px;

  @include tablet{
    margin-bottom: 80px;
  }

  @include mobile{
    margin-bottom: 64px;
  }

  .swiper__container{

    .swiper__wrapper{
      gap: 0;

      .swiper__slide{
        border: 1px solid var(--level-1);
        width: auto;
        height: 140px;
        grid-column: span 2;
        display: flex;
        align-items: center;
        justify-content: center;

        @include tablet {
          grid-column: span 6;
        }

        .swiper__image{

        }
      }
    }
  }
}