@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Bahnschrift";
  src: url("/fonts/Bahnschrift.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Sen";
  src: url("/fonts/Sen-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Sen";
  src: url("/fonts/Sen-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: var(--white);
  font-size: 55px;
  line-height: normal;
}

body {
  background-color: var(--black);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--light-grey);
}

a, button, input, textarea, svg {
  text-decoration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: var(--white);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 24px;
}

:root {
  --black: #000;
  --level-1: #181823;
  --white: #fff;
  --purple: #5221e6;
  --light-grey: #8491a0;
  --dark-grey: #5b6876;
  --green-accent: #3cc74e;
  --blue-accent: #609bff;
  --pink-accent: #e95d90;
  --peach-accent: #fff3e4;
  --violet-accent: #fbe4ff;
  --font-family: "Sen", sans-serif;
  --second-family: "Bahnschrift", sans-serif;
  --container-width: 1380px;
  --container-padding-x: 40px;
  --transition-duration: 0.4s;
  --header-height: 88px;
}

.header {
  position: sticky;
  top: 0;
  background-color: var(--black);
  z-index: 1;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 90px;
}
.header__nav-list {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}
.header__burger {
  display: none;
}

.presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 80px;
}
.presentation .presentation__image {
  position: relative;
  transform: translateX(44px);
}
.presentation .presentation__image .presentation__img {
  max-width: 750px;
}
@media (max-width: 1023px) {
  .presentation .presentation__image .presentation__img {
    max-width: 385px;
  }
}
.presentation .presentation__text {
  display: flex;
  flex-direction: column;
  position: relative;
  transform: translateX(-44px);
  max-width: 738px;
}
.presentation .presentation__text .presentation__title {
  font-size: 78px;
  margin-bottom: 32px;
}
@media (max-width: 1023px) {
  .presentation .presentation__text .presentation__title {
    font-size: 56px;
  }
}
.presentation .presentation__text .presentation__title .presentation__highlight {
  color: rgba(255, 255, 255, 0.5);
}
.presentation .presentation__text .presentation__description {
  font-size: 18px;
}

.experience {
  padding-block: 120px;
}
@media (max-width: 1023px) {
  .experience {
    padding-block: 80px;
  }
}
.experience .experience__subtitle {
  font-size: 16px;
  text-transform: uppercase;
  color: var(--light-grey);
  margin-bottom: 8px;
}
.experience .experience__description {
  font-weight: 700;
  font-size: 55px;
  color: var(--white);
  margin-bottom: 40px;
  max-width: 689px;
}
.experience .experience__companies .experience__company {
  grid-column: span 4;
}
.experience .experience__companies .experience__company .experience__number {
  font-weight: 400;
  font-size: 117px;
  color: var(--light-grey);
  display: inline-block;
}
.experience .experience__companies .experience__company .experience__name {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 22px;
  color: var(--white);
}
.experience .experience__companies .experience__company .experience__name .google {
  color: var(--green-accent);
}
.experience .experience__companies .experience__company .experience__name .facebook {
  color: var(--blue-accent);
}
.experience .experience__companies .experience__company .experience__name .dribbble {
  color: var(--pink-accent);
}
.experience .experience__companies .experience__company .experience__description {
  color: var(--light-grey);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.values {
  background-color: var(--peach-accent);
}
.values .values__content {
  display: flex;
  flex-direction: column;
  grid-column: span 6;
  padding-block: 120px;
}
@media (max-width: 1023px) {
  .values .values__content {
    padding-block: 80px;
  }
}
.values .values__content .values__subtitle {
  font-size: 55px;
  color: var(--level-1);
  margin-bottom: 24px;
}
.values .values__content .values__description {
  font-size: 18px;
  color: var(--dark-grey);
  margin-bottom: 134px;
}
.values .values__content .values__link {
  color: var(--level-1);
}
.values .values__content .button {
  display: inline-block;
  position: relative;
  padding-bottom: 4px;
  text-decoration: none;
  width: fit-content;
}
.values .values__content .button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--light-grey);
}
.values .values__media {
  grid-column: span 6;
}
.values .values__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.values-instagram {
  background-color: var(--violet-accent);
}

.skillsets {
  padding-block: 120px;
}
@media (max-width: 1023px) {
  .skillsets {
    padding-block: 80px;
  }
}
.skillsets .skillsets__content {
  grid-column: span 4;
}
@media (max-width: 1023px) {
  .skillsets .skillsets__content {
    grid-column: span 12;
    margin-bottom: 48px;
  }
}
.skillsets .skillsets__content .skillsets__title {
  margin-bottom: 24px;
}
.skillsets .skillsets__content .skillsets__description {
  font-size: 18px;
}
.skillsets .skillsets__skills {
  grid-column: span 8;
  column-gap: 24px;
  row-gap: 48px;
}
@media (max-width: 1023px) {
  .skillsets .skillsets__skills {
    grid-column: span 12;
  }
}
.skillsets .skillsets__skills .skillsets__block {
  grid-column: span 6;
}
.skillsets .skillsets__skills .skillsets__block .skillsets__icon {
  margin-bottom: 24px;
}
.skillsets .skillsets__skills .skillsets__block .skillsets__subtitle {
  font-size: 24px;
  margin-bottom: 12px;
}
.swiper {
  margin-bottom: 120px;
}
@media (max-width: 1023px) {
  .swiper {
    margin-bottom: 80px;
  }
}
.swiper .swiper__container .swiper__wrapper {
  gap: 0;
}
.swiper .swiper__container .swiper__wrapper .swiper__slide {
  border: 1px solid var(--level-1);
  width: auto;
  height: 140px;
  grid-column: span 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1023px) {
  .swiper .swiper__container .swiper__wrapper .swiper__slide {
    grid-column: span 6;
  }
}
.projects {
  margin-bottom: 153px;
}
@media (max-width: 1023px) {
  .projects {
    margin-bottom: 80px;
  }
}
.projects .projects__list .projects__item {
  grid-column: span 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
}
@media (max-width: 1023px) {
  .projects .projects__list .projects__item {
    grid-column: span 12;
  }
}
.projects .projects__list .projects__item .projects__header {
  max-width: 688px;
  display: flex;
  flex-direction: column;
}
.projects .projects__list .projects__item .projects__header .projects__title {
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--light-grey);
  margin-bottom: 8px;
}
.projects .projects__list .projects__item .projects__header .projects__subtitle {
  font-size: 55px;
  line-height: normal;
}
.projects .projects__list .projects__item .project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 636px;
}
.projects .projects__list .projects__item .project-card .project-card__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.projects .projects__list .projects__item .project-card .project-card__content {
  padding: 40px 32px;
  background-color: var(--level-1);
}
.projects .projects__list .projects__item .project-card .project-card__content .project-card__title {
  font-size: 24px;
  margin-bottom: 13px;
}
.projects .projects__list .projects__item .projects__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 91px;
}
.projects .projects__list .projects__item .projects__footer .projects__button {
  border: 1px solid var(--purple);
  padding: 24px 32px;
  background-color: transparent;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 700;
}

.dribble {
  margin-block: 120px;
}
@media (max-width: 1023px) {
  .dribble {
    margin-block: 80px;
  }
}
.dribble .dribble__content {
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
}
.dribble .dribble__content .dribble__title {
  margin-bottom: 24px;
}
.dribble .dribble__content .dribble__description {
  font-size: 18px;
  max-width: 636px;
  margin-bottom: 40px;
}
.dribble .dribble__content .dribble__link {
  display: inline-block;
  position: relative;
  padding-bottom: 4px;
  text-decoration: none;
  width: fit-content;
}
.dribble .dribble__content .dribble__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--light-grey);
}
.dribble .dribble__media .dribble__image {
  height: 100%;
}

.reviews {
  padding-block: 120px;
}
@media (max-width: 1023px) {
  .reviews {
    padding-block: 80px;
  }
}
.reviews .reviews__content {
  grid-column: span 6;
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
}
.reviews .reviews__content .reviews__title {
  margin-bottom: 24px;
  max-width: 588px;
}
.reviews .reviews__content .reviews__description {
  font-size: 18px;
  margin-bottom: 40px;
  max-width: 588px;
}
.reviews .reviews__content .reviews__link {
  display: inline-block;
  position: relative;
  padding-bottom: 4px;
  text-decoration: none;
  width: fit-content;
}
.reviews .reviews__content .reviews__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--light-grey);
}
.reviews .reviews__block {
  grid-column: span 6;
  display: flex;
  flex-direction: column;
  gap: 120px;
}
@media (max-width: 1023px) {
  .reviews .reviews__block {
    gap: 64px;
  }
}
.reviews .reviews__block .reviews__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.reviews .reviews__block .reviews__card .reviews__text {
  padding: 64px;
  max-width: 636px;
  border: 1px solid var(--dark-grey);
}
.reviews .reviews__block .reviews__card .reviews__text .reviews__review {
  margin-bottom: 64px;
  font-weight: 700;
  font-size: 24px;
  color: var(--white);
}
.reviews .reviews__block .reviews__card .reviews__text .reviews__name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
}
.photography {
  padding-block: 120px;
}
@media (max-width: 1023px) {
  .photography {
    padding-block: 80px;
  }
}
.photography__content {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  max-width: 588px;
  margin-bottom: 64px;
}
.photography__content__description {
  font-size: 18px;
}
.photography__media {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.photography__media .photography__country-list {
  display: flex;
  column-gap: 24px;
  row-gap: 24px;
}
.photography__media .photography__country-list .photography__button {
  background-color: transparent;
  text-transform: uppercase;
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
  border: 1px solid var(--purple);
  padding: 12px 16px;
}
.photography__media .photography__gallery {
  gap: 24px;
}
.photography__media .photography__gallery .photography__gallery-item {
  grid-column: span 3;
}
.photography__media .photography__gallery .photography__gallery-item .photography__gallery-item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1023px) {
  .photography__media .photography__gallery .photography__gallery-item {
    grid-column: span 6;
  }
}

.contact {
  display: flex;
  justify-content: center;
  padding-block: 120px;
  gap: 24px;
}
@media (max-width: 1023px) {
  .contact {
    padding-block: 80px;
  }
}
.contact__text {
  max-width: 526px;
}
.contact__text .contact__title {
  margin-bottom: 24px;
}
.contact__text .contact__description {
  font-size: 18px;
}
.contact__form {
  display: flex;
  flex-direction: column;
}
.contact__form label {
  margin-bottom: 8px;
}
.contact__form input {
  max-width: 526px;
  height: 50px;
  background-color: var(--level-1);
  margin-bottom: 40px;
  border: none;
}
.contact__form textarea {
  max-width: 526px;
  height: 100px;
  background-color: var(--level-1);
  margin-bottom: 40px;
  border: none;
}
.contact__form .contact__button {
  padding: 24px 32px;
  width: 526px;
  height: 75px;
  font-size: 18px;
  text-transform: uppercase;
  background: var(--purple);
  color: var(--white);
}

.footer {
  padding-top: 80px;
  background-color: var(--level-1);
}
.footer .footer__content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 46px;
}
.footer .footer__content .footer__media {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  align-items: center;
}
.footer .footer__content .footer__media .socials__list {
  display: flex;
  column-gap: 16px;
  justify-content: center;
  align-items: center;
}
.footer .footer__content .footer__menu {
  display: flex;
  gap: 150px;
}
.footer .footer__content .footer__menu .footer__menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  gap: 24px;
}

/*# sourceMappingURL=styles.css.map */
